body {
    background-image: linear-gradient(white, #6c757d);
}

header h1 {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/photo_collage.jpg");
    text-align: center;
    color: #ffffff;
    font-size: 72px;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    padding: 5% 35% 5% 35%;
    margin: 0 auto;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a {
    background-color: gray;
    border: 1px solid white;
}

.main-nav li a:hover {
    border: 1px solid white;
    background-color: gray;
}

#container::after {
  content: "";
  clear: both;
  display: table;
}

/* #container {
    margin: 3% 0 3% 0;
} */

/* #box { */
    /* float: left; */
    /* margin-top: 5%;
    margin-left: 11%;
    padding-left: 1%; */
    /* background-color: #ffffff; */
    /* display: inline;
    width: 400px; */
/* } */

input[type=text], select, textarea {
    width: 25%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* margin-top: 6px;
    margin-bottom: 12px; */
    resize: vertical;
    /* margin-left: 5px; */
    border: 1px solid grey;
}

#random-photo {
    /* float: left; */
    background-color: #ffffff;
    height: 200px;
    width: 200px;
    margin-left: 5%;
    border-radius: 4px;
    border: 1px solid grey;
}
.random-photo {
    margin-left: 23%;
    margin-top: 2%;
}

.card-header {
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    /* background-color: #6c757d; */
    color: white;
}

#photos {
    margin-top: 2%;
    margin-left: 11%;
    color: #ffffff;
    text-shadow: 2px 2px #6c757d;
}

#similar-photos {
    background-color: #ffffff;
    min-height: 200px;
    margin: 0% 11% 5% 11%;
    border-radius: 4px;
    border: 1px solid grey;
}

#random-photo::after {
  content: "";
  clear: both;
  display: table;
}

/* hr {
    margin: 0 6% 0 6%;
    border: 1px dotted grey;
} */

#container{
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    /* background-color: white; */
}

button{
    position: relative;
    top: 10px;
    font-size: 25px;
    width: 90%;
    height: 40px;
    line-height: 40px;
    display: block;
    margin-left: 5%;
    text-align: center;
    background-color: blue;
    color: white;
    margin-bottom: 10%;
}


    #input{
        opacity: 0;
    }

    #facesContainer{
        position: absolute;
        top: 84px;
        width: 320px;
        height: 320px;
        line-height: 320px;
        left: 0;
        right: 0;
        background-color: darkgray;
        text-align: center;
        margin: 0 auto;
        margin-top: 10%;
    }

    #preview{
        vertical-align: middle;
        max-width: 100%;
        max-height: 100%;
    }

    #text{
        left: 5%;
        position: absolute;
        top: 414px;
        width: 90%;
        bottom: 10px;
        margin-top: 15%;

    }

    .imageBox {
        /* align-content: center; */
        
        margin: auto;
    }

    #my-canvas {
        align-content: center;

    }

    /* #imageHolder {
        align: center;
    } */

  